# Ignorar ambiente virtual
venv/

# Ignorar checkpoints do Jupyter
notebooks/.ipynb_checkpoints/
modelos_treinados/.ipynb_checkpoints/

# Ignorar configurações do PyCharm/IDEA
.idea/

# Ignorar arquivos de log de erro
errors.log

# Ignorar cache do Python
__pycache__/

# Ignorar dados específicos
dados/clean/
dados/noisy/
dados/full_forg/
dados/full_org/
dados/full_forg_pre_proc/
dados/full_org_pre_proc/

# Ignorar pasta modelos_treinados
modelos_treinados/